:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
.tables {
  display: flex;
  flex-direction: row;
  gap: 1em;
  width: 100%;
}
.pokemon-ctn {
  display: flex;
  flex-direction: row;
  align-items: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  color: #646cff;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
  text-shadow: #646cff85 0 0 12px;
  transition: text-shadow 0.25s;
  filter: drop-shadow(0 0 4px #646cff8f);
}

.heading {
  display: flex;
  flex-direction: row;
  place-items: center;
  justify-content: flex-start;
  gap: 10px;
  width: fit-content;
  cursor: pointer;
  transition: filter 0.5s ease-in-out;
}
.heading:hover {
  transition: filter 0.2s ease-in;
}
.heading h2 {
  font-size: 40px;
}
.global-grid-ctn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px 0px;
  width: 50%;
  height: fit-content;
}
.global-grid-item {
  padding: 10px;
  font-size: 25px;
  text-align: center;
  border: 1px solid #000;
}
.grid-ctn {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: 6fr;
  gap: 10px;
  grid-auto-flow: row;
  width: fit-content;
  height: fit-content;
}
.grid-item {
  display: flex;
  flex-direction: row;
  gap: 0.8em;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-align: center;
}

.icon-stat-ctn {
  display: flex;
  place-content: center;
}
@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.color {
  color: #44b820;
}
